VITE_SUPABASE_URL=https://mdqgvtrysmeulcmjgvvr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1kcWd2dHJ5c21ldWxjbWpndnZyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg1NjY2MzksImV4cCI6MjA4NDE0MjYzOX0.qy8k5Fdt05tAtdOZf8K_cRFJ7sR8urFCaeFAA_GAuQU